<h2>Quiz: el juego de las preguntas</h2>

<p>Número de preguntas: <%= npreguntas %></p>
<p>Número de comentarios: <%= ncomentarios %></p>
<p>Número de medio de comentarios por pregunta: <%= ncomentarios/npreguntas %></p>
<p>Número de preguntas sin comentarios: <%= npreguntas_nocomment %></p>
<p>Número de preguntas con comentarios: <%= npreguntas - npreguntas_nocomment %></p>
